<a href="https://colab.research.google.com/github/iamgeekyaseem/Learning_Tree/blob/main/T_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ob represent the binary and rest 11001 represent number 25 in binary

In [ ]:
x=bin(25)
print(x[3:])

1001

import maths function

In [ ]:
#import math
#x = math.sqrt(25)
#print(math.floor(2.9)) == 2
#print(math.ceil(2.9))  == 3
#m=math.pow(2,3)   #gives float number
#print(int(m))
#-----------------------------------------------


#import math as m #"as" function defiunes the math module as m for short form use
##that is also called alies(not sure about the spelling lol)
#x=m.sqrt(25)
#or
#m=math.sqrt(25)
#print(x,m)
#------------------------------------------------


#importing only specific mathematical functions for ex: sqrt and power
#from math import sqrt
#math.sqrt(25)
#math.pow(2,2)
help('math')

In [ ]:
import sys
x=int(sys.argv[1]) #HERE THE FIRST INPUT WILL BE INDEXED AS ZERO
y=int(sys.argv[2])
z=x**y
print(z) #i yhink it will work in command prompt only https://www.youtube.com/watch?v=4OX49nLNPEE&list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3&index=22

1.print numbers from 1 to 100 except number divisible by 3 and 5
2. print hashtag squre pattern

In [ ]:
#1-----------------------------------------------
#for i in range(1,100):
 # if i%3==0 or i%5==0:
  #  continue
  #else:
   # print(i)

In [ ]:
#perfect sqr num in 1 to 100
for i in range(1,101):
  z=i*i
  if z>=100:
    break
  print(z)

In [ ]:
#fibonacchi sequence 0 1 1 2 3 5 8 13 21...
num=int(input("Numbers of terms that you want to print: "))
first=0
second=1
print("The fibonacchi sequence is 0 1 ",end="")
for i in range(2,num):
  third=first+second
  first=second
  second=third
  print(third, end=" ")

In [ ]:
for i in range(5):
    for a in range(4-i):
        print(a+1+i,end='')
    print(
a,b="ABCD","PQR"
for i in range(4):
    print(a[:i+1]+b[i:])

SyntaxError: ignored

In [ ]:
#sort an array in ascenting order
from array import * #'*' means all the functions of array
#help('array')
nums = array('i', [2,1,3,6,2,9,5,0])
#nums.reverse()
cums=nums.tolist() #convert array to list
cums.sort() #sorts the list
print("Ascending order")
for i in cums:
  print(i,end=" ")
print()
#for descending order----------------------------
cums.reverse()
print("Descending order")
for i in cums:
  print(i, end=" ")
#for i in nums: #or.... for i in range(len(nums)):

In [ ]:
#Taking input from user in an array
#first we need to specify the length of the array
from array import *
n= int(input("Length of array: "))
arr=array('i',[])
for i in range(n):
  arr.append(int(input("Enter the next number: ")))
print(arr)
#now we search for the index number of one of the input number
#manual method
val=int(input("The number you want to know the index of: "))
k=0
for e in arr:
  if e==val:
    print(k)
    break
  k+=1
#by array function
print(arr.index(val))

In [ ]:
#prime number or not check
num=int(input("Enter number: "))
for i in range(2,num//2):
  if num%i==0:
    print("Not Prime")
    break
else:
  print("Prime")

In [ ]:
#factorial of a number eg: 8=1.2.4    
num=int(input("Enter number: "))
print("Factorials are: ")
for i in range(1,num//2+1):
  if num%i==0:
    print(i,end=" ")

In [ ]:
#prime number b/w 1 to 100
for num in range(2, 101):
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num,end=" ")

In [ ]:

#print the triangle pattern like arrow
for i in range(1,6):
 for j in range(1,i+1):
  print("*", end=" ")
 print()
    
for i in range(5,1,-1):
  for j in range(1,i):
    print("*", end=" ")
  print()

 Print the value of 1/1 + 2^2/2 + 3^3/3 + 4^4/4 +......

In [ ]:
#assignmemt 01
n=int(input("Enter some num:  "))
sum,x=0,1
while x<=n:
  sum=sum+x**x
  x=x+1
print(sum)

Print sum of 1-x+x^2-x^3+x^4-x^5....

In [ ]:
#assignmemt 02
#value of m(here m=2) in series 

m=int(input("Enter number: "))
n=int(input("Upto what nth term you wanna print: "))
sum,x=1,1
while x<=n:
  sum=sum+(-m)**x
  x=x+1
print(sum)

In [ ]:
#reversing digit of array
from array import *
#n= int(input("Length of array: "))
arr=array('i',[1,2,3,4,5,6])
#for i in range(n):
  #arr.append(int(input("Enter the next number: ")))
for i in arr:
  m=(arr[::-i])
  break
print(m)

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)

In [ ]:
from numpy import *
print("-------------------------------------------------------------------------")
arr = array([1,2,3,4,5])
print(arr)
print("-------------------------------------------------------------------------")
arr1 = array([1,2,3,4,5.0]) #explicit conversion
print(arr1)
print("-------------------------------------------------------------------------")
arr2 = array([1,2,3,4,5],float)
print(arr2)
print("-------------------------------------------------------------------------")
arr3 = array([1,2,3,4,5])
print(arr3.dtype)
print("-------------------------------------------------------------------------")
arr4 = linspace(1,5,10) #5 included.... 10 is number of divisions
print(arr4)
print("-------------------------------------------------------------------------")
arr4 = arange(1,50,2) # just like in range
print(arr4)
print("-------------------------------------------------------------------------")
arr5 = logspace(1,5,10) #gap with 1 to the power of 10 to 5 to the power of 10
print(arr5)
print("-------------------------------------------------------------------------")
print('%.2f' %arr5[0]) #2f denotes upto two digit of float number at index number 0
arr6 = zeros(5)#5 denotes the sixe of array and by default it is of float
print(arr6)
print("-------------------------------------------------------------------------")
arr7 = ones(5,int)
print(arr7)

In [ ]:
from numpy import *
#numerical operation in numpy
arr1= array([1,2,3,4,5])
arr2= array([1,4,6,8,2])
arr1 = arr1 + 1
print(arr1)
print(arr2)
arr3 = arr1 + arr2
print(arr3)
print('Joining two array we use "concatenate" function')
print(concatenate([arr1,arr2]))

In [ ]:
#functions in numpy array
arr1= array([1,2,3,4,5,5,5,90,30])
print(sin(arr1)) #'''sin/cos/log/sqrt/sum(sum of all element of the same array/
                 #min/max/sort/unique
print(sort(arr1))
print(unique(arr1))

In [ ]:
#copying an array

In [ ]:
#functions
def add(a,b): #a,b are arguments (1. Formal Arguments)
  c=a+b
  print(c)
add(5,6) #5,6 are 2. Actual Arguments

In [ ]:
'''lets say i want to add with multiple arguments i'll use '*' in arguments
which while passing the arguments will convert it into tuples'''
def add(*a):
  c=0
  for i in a:
    c=c+i
  return c
add(5,6,8,581)

In [ ]:
''' there is no pass by value or pass by reference in python'''
def update(x):
  x=8
  print(id(x))
  print("x", x)
update(10)
a=11
print(id(a))
update(a)
print(id(a))

In [ ]:
''' lets say i don't know the sequence in the def '''
def person(name,age=18): 
  print("name = ",name)
  print("age = ",age)

person("aseem", 19) 
person(19, "aseem") #sequence is wrong here
'''if i dont know the sequence then i can use keywords to
exactly define to a particular argument'''
person(name="Aseem", age=19)
#lets say i didnt passed the 2nd argument i.e age it
#will automatically take that by default if its written in defs arguments
person("aseem")

In [ ]:
#making 1d 2d 3d matrices or determinants in array
from numpy import *
arr1= array([
            [1,2,3,4,5,6],
            [2,3,5,6,3,5]
            ])
arr2=arr1.flatten()#2d to 1d array
arr3=arr1.reshape(3,4)#changes the 2d array row and column
arr4=arr1.reshape(2,2,3) #2 2d array and each 2d array having 2 rows and 3 columns
m=matrix(arr1) #gives matrix
print(arr1)
print(arr1.dtype)#type of array
print(arr1.ndim)# no. of dimention/ ranking
print(arr1.shape)#shape of 2d array
print(arr1.size)#row x column
print(arr2)
print(arr3)
print(arr4)
print(m)# now its matrix (loks same as 2d array) we can perform various matrix operations

In [ ]:
#concept of global and local variable
a = 10
def something():
  #global a #makes
  a=15
  print("in func", a)

something()
print('outer', a)

In [ ]:
lst=[]
if __name__ == '__main__':
    for _ in range(int(input())):
        name = input()
        score = float(input())
        lst.append([name,score])
print(max(lst))

In [ ]:
#OOPs
class Employee:
    no_of_leaves = 8
    pass

harry = Employee()
rohan = Employee()

harry.name = "Harry"
harry.salary = 455
harry.role = "Instructor"

rohan.name = "Rohan"
rohan.salary = 4554
rohan.role = "Student"

print(Employee.no_of_leaves)
print(Employee.__dict__)
Employee.no_of_leaves = 9
print(Employee.__dict__)
print(Employee.no_of_leaves)

In [ ]:
#Decorator 
def dec1(func1):
  def nowexec():
    print('Before executing the func1')
    func1()
    print("After executing the func1")
    return nowexec
@dec1
def aseem():
  print("I am Aseem")

aseem()

TypeError: ignored

In [ ]:
def aseem():
  print("I am Aseem")
aseem()

I am Aseem

In [ ]:
class Employee:
  def __init__(self, aname, asalary, arole): #"Constructor"  that helps to give arguments to Employee in harry.Employee(*arguments*)
    self.name = aname
    self.salary = asalary
    self.role = arole                 
  def printDetails(self):
    return f"Name is {self.name}. Salaray is {self.salary}. Role is {self.role}"
harry = Employee("Harry", 455, "Instructor")
larry = Employee("Larry", 125, "Manager")

print(harry.salary)

In [ ]:
class Employee:
  leaves=10
  def __init__(self, aname, asalary, arole):
    self.name=aname
    self.salary=asalary
    self.role=arole
  def printDetails(self):
    return f"Name {self.name}. Salary {self.salary}. Role {self.role}"
  @classmethod
  def change_leaves(cls, newleaves):
    cls.leaves=newleaves

harry=Employee("Harry", 9999, "Instructor")

#print(harry.printDetails())
harry.change_leaves(30)
print(harry.leaves())

TypeError: ignored

In [ ]:
class Employee:
    no_of_leaves = 8

    def __init__(self, aname, asalary, arole):
        self.name = aname
        self.salary = asalary
        self.role = arole

    def printdetails(self):
        return f"The Name is {self.name}. Salary is {self.salary} and role is {self.role}"

    @classmethod
    def change_leaves(cls, newleaves):
        cls.no_of_leaves = newleaves